{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About page </h1>
            <p class="lead fw-normal text-white-50 mb-0">about us</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">

                <p align = "justify">
                    hello this is the about us page.therefor,you will get information about all the privacy policy 
                    and product info.so,you could decide and take action.  
                </p>
            </div>
        </center>
    </div>
</div> 

{% endblock %}