{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Process Order</h1>
            <p class="lead fw-normal text-white-50 mb-0">Order Payment Process..</p>
        </div>
    </div>
</header>
<div class="container">
    <br><br>
    <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
            {% for product in cart_products %}
              Product Name - {{ product.name }}<br>
              {% if product.is_sale %}
                Price - ${{ product.sale_price }}<br>
              {% else %}
                Price -  ${{ product.price }}<br>
              {% endif %}

            Quantity:
            <small>{% for key, value in quantities.items %}
                    {% if key == product.id|slugify %}
                        {{ value }}<br><br>
                    {% endif %}
                {% endfor %}
            {% endfor %}</small>
            <br>
            <strong>TOTAL :- $:{{ totals }}</strong>
            <br><br>
            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
            <br><br>
        </div>
      </div>
      <br><br>
      <div class="card">
        <div class="card-header">
          Shipping Information
        </div>
        <div class="card-body">  
                Name: {{ shipping_info.shipping_full_name }}<br/>
                Email: {{ shipping_info.shipping_email }}<br/>
                Address 1: {{ shipping_info.shipping_address1 }}<br/>
                Address 2: {{ shipping_info.shipping_address2 }}<br/>
                City: {{ shipping_info.shipping_city }}<br/>
                State: {{ shipping_info.shipping_state }}<br/>
                Zipcode: {{ shipping_info.shipping_zipcode }}<br/>
                Country: {{ shipping_info.shipping_country }}<br/>
                <br/>
                <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping</a>
        </div>
      </div>
      <br><br>
      <div class="card">
        <div class="card-header">
          Billing Information
        </div>
        <div class="card-body">  
          <form method="POST" action="{% url 'process_order' %}">
            {% csrf_token %}
            {{ billing_form.as_p }}
        </div>
      </div>
      <br><br>
      <button type = "submit" class="btn btn-primary">Payment Now</button>
    </form>
    </div>


{% endblock %}  